body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h1 img {
    max-width: 300px; /* Limite la largeur à 200 pixels */
    height: auto; /* Maintient les proportions de l'image */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#counter {
    margin-top: 20px;
    font-size: 1.2em;
}
